<!DOCTYPE html>
<html>
<!-- Sets tile in tab -->
<head>
    <title>Money!</title>
    <!-- Defines CSS Styling used throughout page -->
    <style>
        .centered {
            text-align: center;
        }
        .centered-image {
            display: block;
            margin-left: auto;
            margin-right: auto;
            max-width: 50%;
            height: auto;
        }
    </style>
</head>

<body>
    <!-- Sets heading on page -->
    <h1 class="centered">$$$$$$$$$$$</h1>
    <!-- Displays victory message / image to user -->
<p class="centered">That's right!  There's always money in the banana stand.</p>
<img src="/static/images/GOB.jpg" alt="Reward Image" class="centered-image">

</body>
</html>